<h1>Student List</h1>
<table border="1px">
{%for i in st%}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.sname}}</td>
        <td>{{i.branch}}</td>
        <td>{{i.trainer}}</td>
        
    </tr>
{%endfor%}
</table>
<form action="addstudent" method="post">
    {% csrf_token %}
    sname<input type="text" name="sname" /><br>
    branch<input type="text" name="branch" /><br>
    <select name="trainer">
        {%for i in tr%}
        <option value="{{i.id}}">{{i}}</option>
        {%endfor%}
    </select><br>
    <button>Add Student</button>
</form>